@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.mainDiv {
    margin-top: 5.45rem;
    font-family: 'Nunito sans', sans-serif;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 40rem;
}

.quote-text {
    text-align: center;
    font-size: large;
}

.category-image {
    width: 225px;
}

.category-container:hover {
    transform: translateY(-10px)
}

.products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.category-text {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    color: white;
    margin: 0;
    padding: 1rem;
}

.home-image {
    width: 100.6%;
    margin-bottom: 4rem;
}

.home-end-image {
    width: 90%;
    height: 27rem;
    border-radius: 1rem;
    margin: 0 2rem 5rem 4rem;
}

.shop-now-button {
    font-family: 'Nunito sans', sans-serif;
    font-size: 16px;
    background-color: rgb(28, 28, 28);
    color: white;
    border: 1px solid;
    width: 8rem;
    padding: 0.6rem 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.shop-now-button:hover {
    background-color: white;
    color: black;
}

.shop-by-category-image {
    width: 100%;
    margin: 0;
    padding: 0;
}