.mainDiv {
    margin-top: 8rem;
}

.video-container {
    display: flex;
    justify-content: center;
}
  
video {
    height: 350px;
    transition: all 0.3s ease;
}

.quote-container {
    background-color: #D1EFD2;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 3rem 0;
}

.quote-text {
    font-style: italic;
    font-size: large;
}

.category-image {
    width: 225px;
}

.products-container {
    display: flex;
    flex-direction: row;
    /* margin: 0 10rem; */
    justify-content: center;
}

.category-text {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 1rem;
}