@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.navHeader {
    background-color:  #D1EFD2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 98%; 
    left: 0;
    z-index: 999;
    justify-content: space-between;
}

.titleName {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.titleName:hover {
    opacity: 0.5;
}

.inputDiv {
    width: 40%;
    display: flex;
    justify-content: center;
}

.input-search {
    font-family: 'Nunito sans', sans-serif;
    font-size: 1rem;
    width: 80%;
    padding: 0 0.8rem;
    height: 2.3rem;
    transition: all .4s ease;
    border: 1.5px solid;
    border-radius: 5px;
}

.navIcon {
    font-size: 1.5rem;
    padding: 5px 10px;
    color: black;
    margin: 1rem 0.5rem 0.5rem 0;
    position: relative;
}

.navIcon:hover {
    opacity: 0.5;
}

.navDiv {
    display: flex;
    justify-content: space-between;
}

.go-to-products-btn {
    font-family: 'Nunito sans', sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    margin: 1rem 0.5rem 0.5rem 0;
    color: black;
    text-decoration: none;
    position: relative;
}

.go-to-products-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 2px;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.go-to-products-btn:hover::after {
    opacity: 1;
}

.no-of-items {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.825rem;
    font-weight: 700;
    border-radius: 50%;
    align-self: start;
    justify-self: start;
    position: relative;
    left: -1rem;
    background-color: rgb(29, 28, 28);
    color: white;
    border: 0.125rem;
}