@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.productPage {
  display: flex;
  flex-wrap: wrap;
}

.filterDiv {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  padding: 1rem;
  margin-top: 8.5rem;
  margin-left: 1rem;
  margin-bottom: 6rem;
  border: 1px solid gray;
  height: 26.5rem;
  width: 15rem;
}

.product-container {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 57rem; 
  padding: 1rem;
  margin-top: 7rem;
  margin-bottom: 10rem;
  justify-content: center;
}

.priceDiv {
  display: flex;
  flex-direction: column;
}

.product-item {
  width: 15rem; 
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
  padding: 10px;
  justify-content: space-between;
  box-sizing: border-box
}

.productImage {
  width: 218px;
  height: 270px;
  object-fit: cover;
}

.filter-title {
  font-weight: 600;
}

.text {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.priceText {
  display: inline-block;
  font-size: 15px;
}

.discountedPriceText {
  display: inline-block;
  margin: 0 0.4rem;
  color: #5A5A5A;
  font-size: 13px;
  text-decoration: line-through red 1px;
}

.ratingText {
  display: inline-block;
  position: absolute;
  right: 1rem;
  margin-top: 0.4rem;
  font-size: 15px;
}

.titleText {
  font-weight: bold;
  letter-spacing: 0.2px;
}

.wishlistButton {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  bottom: 7.45rem;
  left: 0.61rem;
  width: 13.64rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: white;
  color: black;
  border: 1.5px solid;
  height: 2.2rem;
}

.product-item:hover .wishlistButton {
  opacity: 1;
}

.product-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.wishlistButton:hover {
  color: white;
  background-color: black;
  border: none;
}

.cartButton {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  height: 2.2rem;
  background-color: white;
  color: black;
  border: 1.5px solid;
}

.cartIcon {
  font-size: 1rem;
  padding: 0 5px;
}

.cartButton:hover {
  color: white;
  background-color: black;
}

.clearFilterButton {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  margin-left: 8rem;
  background-color: white;
  border: 1px solid white;
}

.clearFilterButton:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.filter-top {
  display: flex;
}

.categoryFilter {
  display: flex;
  flex-direction: column;
}

.no-products {
  font-family: 'Nunito Sans', 'sans-serif';
  margin-top: 10rem;
  margin-left: 3rem;
}

.loader {
  width: 15rem;
  margin: 15rem 0 0 0;
  position: sticky;
  left: 50%;
  transform: translate(-50%, -50%);
}