@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.wishlist-page {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.wishlist-product-container {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%; 
  padding: 1rem;
  margin: 7rem 0 0;
  justify-content: center;
}

.product-item {
  width: 15rem; 
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  margin: 0 1rem 1rem 1rem;
  justify-content: space-between;
  box-sizing: border-box
}

.productImage {
  width: 218px;
  height: 270px;
  object-fit: cover;
}

.text {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.priceText {
  display: inline-block;
  font-size: 15px;
}

.discountedPriceText {
  display: inline-block;
  margin: 0 0.4rem;
  color: #5A5A5A;
  font-size: 13px;
  text-decoration: line-through red 1px;
}

.ratingText {
  display: inline-block;
  position: absolute;
  right: 1rem;
  margin-top: 0.4rem;
  font-size: 15px;
}

.titleText {
  font-weight: bold;
  letter-spacing: 0.2px;
}

.wishlist-button {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  bottom: 7.45rem;
  left: 0.64rem;
  width: 13.65rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: white;
  color: black;
  border: 1.5px solid;
  height: 2.2rem;
}

.product-item:hover .wishlist-button {
  opacity: 1;
}

.product-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.wishlist-button:hover {
  color: white;
  background-color: black;
  border: none;
}

.cart-button {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  height: 2.2rem;
  background-color: white;
  color: black;
  border: 1.5px solid;
}

.cartIcon {
  font-size: 1rem;
  padding: 0 5px;
}

.cart-button:hover {
  color: white;
  background-color: black;
}

.wishlist-image {
  width: 300px;
}

.empty-wishlist-container {
  text-align: center;
}